@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  display: inline-block;
  position: relative;
  font-size: large;
  text-decoration: none;
}

a:after {
  content: "";
  position: absolute;
  background-color: #1d4ed8;
  height: 3px;
  width: 0;
  bottom: -3px;
  left: 0;
  transition: width 0.3s ease;
}

a.navBarLink:after {
  background-color:black;
}

a:hover:after {
  width: 100%;
}

a.classLink:hover:after {
  width:10%
}
